In [1]:
import pandas as pd
from river import neighbors

In [2]:
data = pd.read_excel("Data.xlsx")

In [3]:
data = data.drop(["gender", "probability"], axis = 1)
data.head()

   age     bmi  children  normalized_prob
0   19  27.900         0         0.251611
1   18  33.770         1         0.009636
2   28  33.000         3         0.053115
3   33  22.705         0         0.333010
4   32  28.880         0         0.043816

In [4]:
dataset1 = []

for i in range(100):
    dict_x = {}
    dict_x["age"] = data.iloc[i][0]
    dict_x["bmi"] = data.iloc[i][1]
    dict_x["children"] = data.iloc[i][2]
    
    dataset1.append((dict_x, data.iloc[i][3]))

In [5]:
it1 = iter(dataset1)
x, y = next(it1)
x

{'age': 19.0, 'bmi': 27.9, 'children': 0.0}

In [6]:
model = neighbors.KNNRegressor()
model.predict_one(x)

0.0

In [7]:
model = model.learn_one(x, y)

In [8]:
model.predict_one(x)

0.251610772

In [9]:
x, y = next(it1)
x

{'age': 18.0, 'bmi': 33.77, 'children': 1.0}

In [10]:
model.predict_one(x)

0.251610772

In [11]:
model = model.learn_one(x, y)
model.predict_one(x)

0.00963595

In [12]:
x, y = next(it1)
x

{'age': 28.0, 'bmi': 33.0, 'children': 3.0}

In [13]:
model.predict_one(x)

0.130623361

In [14]:
model = model.learn_one(x, y)
model.predict_one(x)

0.053115164

In [15]:
import pickle

In [16]:
pickle.dump(model, open("model-new.pkl", "wb"))